<section id="gigs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming shows</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!--    <div class="container"> -->
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
			<img src=../img/nooshin-khoshnazar.jpg alt='Nooshin Khoshnazar'></img>
			<h3>A Persian Evening with Nooshin Khoshnazar-Thoma</h3>
			<p class="text-muted">Live at Tanzstudio Vida, Lange Gasse 45, 1080 Wien</p>
			<p class="text-muted">Tuesday July 2nd 8pm</p>
			<!--			Nooshin Khoshnazar-Thoma - Vocals<br> -->
			
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="service-box">
			<img src=../img/johannes-thoma.jpg alt='Johannes Thoma'></img>
			<h3>Colors of Voices</h3>
			<p class="text-muted">Live at <a href="https://fraumayer.at/">Frau Mayer</a> Rudolfsplatz 12 1010 Wien</p>
			<p class="text-muted">Thursday September 19th 8pm</p>
			Nooshin Khoshnazar-Thoma - Vocals<br>
			Caroline Auque - Vocals<br>
			Christina Kapusta - Vocals<br>
			Teona Mosia - Vocals<br>
		        Johannes Khoshnazar-Thoma - Piano<br>
		        TBA - bass<br>
		        TBA - drums<br>
                </div>
            </div>

	    <!--	 <p>&nbsp;</p> -->
	 </div>
<!--            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
-->
<!-- </div> -->
    </div>
</section>
