<section id="gigs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming shows</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <center>
        <div class="row">
		<!-- <div class="col-lg-3 col-md-6  text-center"> -->
            <div class="text-center">
                <div class="service-box">
			<img src="../img/nooshin-khoshnazar.jpg" alt='Nooshin Khoshnazar-Thoma Quartett'></img>
			<h3>Nooshin Khoshnazar-Thoma Quartett</h3>
			<p class="text-muted">Salon Inspirativ @ Möbelwerk</p>
			<p class="text-muted">1010 Wien, Salztorgasse 2</p>
			<p class="text-muted"><b>Sunday June 22nd 2025 6pm</b></p>
			<p class="text-muted">and</p>
			<p class="text-muted">Cafe Central, Baden, Lower Austria</p>
			<p class="text-muted">Hauptplatz 19 2500 Baden</p>
			<p class="text-muted"><b>Tuesday August 5th 2025 7pm</b></p>
			Nooshin Khoshnazar-Thoma - Vocals<br>
		        Johannes Khoshnazar-Thoma - Piano<br>
		        Dieter Bartl - bass<br>
		        Alen Šijiak - drums<br>
			<p>
                </div>
            </div>
	 </div>
	 </center>
<p>&nbsp;
<p>
Die musikalischen Wurzeln der persischen Sängerin Nooshin Khoshnazar-Thoma liegen in der reichen Tradition der klassischen persischen Musik, der persischen populären Musik sowie persischer Folklore. Ihre Lieder handeln oft von Sehnsucht, zum Beispiel nach einem Menschen, aber auch nach einer Heimat für das persische Volk, das heute aufgrund der politischen Situation im Iran über die ganze Welt verstreut lebt.
<p>
Mit ihrer berührenden Stimme singt sie für alle Frauen im Iran, die unter anderem nicht öffentlich singen dürfen und viele Freiheiten nicht haben, die bei uns selbstverständlich sind.
<p>
Einfühlsam begleitet wird sie von einem Jazztrio mit Johannes Khoshnazar-Thoma am Klavier, Dieter Bartl am Bass und Alen Sijiak am Schlagzeug.
<p>
    </div>
</section>
