<header>
    <div class="header-content">
        <div class="header-content-inner">
    	<p>&nbsp;</p>
    	<p>&nbsp;</p>
    	<p>&nbsp;</p>
    	<p>&nbsp;</p>
    	<p>&nbsp;</p>
            <h1>Nooshin Khoshnazar-Thoma</h1>
            <hr>
<!--            <p>Jazz and Persian Music Singer Nooshin Khoshnazar-Thoma</p>
            <hr>
	    <p>Find latest tour dates, selected videos, my music projects and more inside</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Enter</a>
        </div>
    </div>
</header>
