<style>
.white-hr {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
</style>

<section id="projects" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My music projects</h2>
                <hr class="white-hr"/>
            </div>
        </div>
    </div>
    <!--    <div class="container"> -->
        <div class="row">
            <div class="col-lg-3 col-md-6  text-center">
                <div class="service-box">
			<h3>Johannes Khoshnazar-Thoma Trio</h3>
			<p>&nbsp;</p>
			<img src=../img/johannes-thoma.jpg alt='Johannes Thoma'></img>
			<p>&nbsp;</p>
			<p class="text">I lead a Jazz Trio performing mainly my original compositions, like Fragments, The Hitchhiker and several other new compositions.</p>

			<p>&nbsp;</p>
		          Johannes Khoshnazar-Thoma - Piano<br>
		          Kristian Lind - Bassett<br>
			  Christian Kurz - Drums<br>
                </div>
            </div>

	    <!--	 <p>&nbsp;</p> -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
			<h3>Khoshnazar-Thoma Duo</h3>
			<p>&nbsp;</p>
			<img src=../img/nooshin-khoshnazar.jpg alt='Nooshin Khoshnazar'></img>
			<p>&nbsp;</p>
			<p class="text">I also have a duo with my wife Nooshin Khoshnazar-Thoma. Since our wedding we share the same name, which consequently is also the name of the duo. We perform Jazz standards, mostly beautiful ballads as well as persian songs.</p>
			<p>&nbsp;</p>
			Nooshin Khoshnazar-Thoma - Vocals<br>
		        Johannes Khoshnazar-Thoma - Piano<br>
                </div>
            </div>
	 </div>
<!--            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
-->
<!-- </div> -->
    </div>
</section>
