<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Over the rainbow</h2>
                <hr class="light">
		<p class="text-faded">With Nooshin Khoshnazar</p>

<iframe width="300" height="200" src="https://www.youtube.com/embed/6wALDCYA1is?si=M7HsShY9pR_Eatom" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
	<p>&nbsp;</p>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fragments</h2>
                <hr class="light">
		<p class="text-faded">With Johannes Thoma Berlin Quartett</p>
<iframe width="300" height="200" src="https://www.youtube.com/embed/ANMUAua7-kw?si=ZHCan-IZvgfplG7H&amp;start=118" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
